*{
  margin: 0px;
  padding: 0px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  height: 10vh;
  background-color: cyan;
  align-items: center;
  /* flex-direction: column; */
}
.cn{
  font-size: 30px;
  font-weight: bolder;
}
.options{
  font-weight: lighter;
  display: flex;
  gap: 90px;
  list-style: none;
}
.h{
  color: black;
  text-decoration: none;
}
.sign{
  color: black;
  text-decoration: none;
}
.btn1{
  width: 150px;
  height: 40px;
  font-size: 20px;
  text-decoration: none;
  padding: auto;
  border-radius: 8px;
  background-color: blue;
  color: white;
}
.hero{
  height: 70vh;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.section{
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  line-height: 90px;
}